<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	  <title>Programming Humor</title>
	  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
	</head>
	<body>
		{{{ body }}}
		<script src="app.js"></script>
	</body>
</HTML>