      
      body { background-color: #F2F6D0 }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 500px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
      p {
        margin-bottom: 0;
        margin-top: 16px;
      }
      .modal-body {
        height: 200px;
        overflow-y: auto;
      }
      #note {
        font-size: 15px;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 2px;
        margin-top: 0px;
      }
      .user{
        font-family: 'Ubuntu', sans-serif;
        font-size: 25px;
        float: left;
      }
      .field{
        border-left: 5px solid black;
        background-color: #F2F6D0; 
        border-bottom: 1px solid black;
        margin-bottom: 5px;
      }
      #scrape {
        margin-bottom: 5px;
      }
      #delete {
        margin-top: -48px;
      }
      